.main-app-section{
    padding: 0 1rem;
    flex-basis: 80%;
}
  
.app-banner{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: white;
    padding: .5rem 2rem;
}

.app-banner h2{
    text-align: left;
    color: #888585;
}