img{
    width:80%;
}
  
.navigation-menu{
    height: 100vh;
    padding: 0;
    flex-basis: 20%;
    background-color: white;
    padding-top: 3rem;
}

.menu-list{
    list-style: none;
    margin:3rem 0;
}

.menu-list li{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
    color: #888585;
}

.menu-list li:hover{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
    color: #252525;
    font-weight: bold;
    cursor: pointer;
}